@import url("https://use.fontawesome.com/releases/v5.6.3/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700&display=swap");

/*----------------------- Global Styles --------------------------*/

body {
  font-family: "Roboto", sans-serif;
  color: #52555a;
  background-color: white;
  word-break: break-word;
  font-size: 0.9rem;
}

.main.container {
  padding-left: 5px;
  padding-right: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 300;
}

h1,
.h1 {
  font-size: 2.2rem;
  text-transform: uppercase;
}

a {
  color: #670d35;
}

a:hover {
  color: #670d35;
}

.btn {
  border-width: 2px;
  border-radius: 0.5rem;
}
.btn-primary {
  background-color: #670d35;
  border-color: #670d35;
}
.btn-outline-primary {
  color: #670d35;
  border-color: #670d35;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  background-color: #670d35;
  border-color: #670d35;
}
.btn-outline-primary:hover {
  background-color: #670d35;
  border-color: #670d35;
}

/* Notifications */

.b-toaster.b-toaster-top-right .b-toaster-slot,
.toast,
.b-toast {
  z-index: 1000000000;
}

.toast-body {
  word-break: break-word;
}

.system {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

/*----------------------- Header Styles --------------------------*/

#navigation {
  margin-bottom: 79px;
}

section#navigation nav {
  background-color: #000000;
}

.navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: -0.4rem;
  margin-right: 0;
}

/* Logo */
.navbar-brand .logo {
  max-width: 200px;
  width: 100%;
}

/* Top bar */

#top-bar {
  padding: 0.5rem 0 0 0;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

#top-bar span {
  text-align: right;
  color: hsla(0, 0%, 100%, 0.7);
}

#top-bar a {
  color: #ef1073;
  margin: 0 0.5rem;
}

#top-bar a:last-child {
  margin-right: 0 !important;
}

#top-bar a.active {
  font-weight: 700;
}

#top-bar .network {
  color: #ef1073;
}

#top-bar .fiat {
  color: white;
  margin-right: 0.5rem;
  font-weight: 100;
}

.btn-group {
  margin-bottom: 0;
}

/* Nav bar */

.navbar {
  padding: 0.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 1);
}

.nav-bg-color {
  background-color: #000000;
  box-shadow: 0 4px 12px 0 rgba(100, 100, 100, 0.3);
}

.dropdown-item {
  padding: 0rem 1.5rem;
}

.dropdown-item a {
  color: #670d35 !important;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: #000000;
}

.navbar-nav .nav-link.nuxt-link-exact-active {
  color: rgba(255, 255, 255, 1);
}

.btn-outline-white {
  color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-white:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-outline-white:disabled {
  color: #ef1073;
  background-color: #000000;
  border-color: #ef1073;
  opacity: 1;
}

.btn-outline-white:disabled:hover {
  color: #ef1073;
  background-color: #000000;
  border-color: #ef1073;
}

.nav-link {
  padding: 0.2rem 1rem;
}

#nav-tab .nav-link {
  padding: 0.5rem 1rem;
}

/* i18n flags */

.flag-icon {
  border: 2px solid transparent;
  border-radius: 2px;
  width: 1.6em;
  height: 1.3em;
}

.flag-icon-es {
  margin-left: 2rem;
}

.nav-link .nuxt-link-exact-active .flag-icon {
  border: 2px solid white;
}

/* Slider */

.carousel-caption h2,
.carousel-caption p {
  text-shadow: 2px 4px rgba(0, 0, 0, 0.4);
}

/* Breadcrumbs */

.breadcrumb {
  padding: 0.5rem 0rem;
  margin-bottom: 3rem;
  background-color: initial;
  border-radius: 0;
  font-size: 15px;
  border-bottom: 1px solid #d75ea1;
}

/*----------------------- Footer Styles --------------------------*/

section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}

#footer {
  background-color: #2d2f33;
  padding: 0 0 1rem 0;
}

#footer h5 {
  padding-left: 10px;
  border-left: 3px solid #eeeeee;
  padding-bottom: 6px;
  margin-bottom: 20px;
  color: #ffffff;
}

#footer a {
  color: #ffffff;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
  padding: 3px 12px 0 0;
}

#footer ul.social li a i {
  margin-right: 5px;
  font-size: 18px;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.social li:hover a i {
  font-size: 24px;
  margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
  color: #ffffff;
}

#footer ul.social li a:hover {
  color: #eeeeee;
}

#footer ul.quick-links li {
  padding: 3px 0;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

#footer ul.quick-links li:hover {
  padding: 3px 0;
  margin-left: 5px;
  font-weight: 700;
}

#footer ul.quick-links li a i {
  margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
  font-weight: 700;
}

#footer .small {
  font-size: 0.9rem;
}

#footer .logo {
  max-width: 400px;
  width: 100%;
}

.bat {
  max-width: 18px;
  vertical-align: middle;
  margin-left: 0.1rem;
}

.kusama-logo,
.polkadot-logo {
  width: 100%;
  max-width: 120px;
}

.table {
  background-color: white;
}

.badget-container {
  justify-content: center;
  margin: 0;
}

.grant-badge {
  width: 75%;
  max-width: 200px;
}

/* GitHub corner */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

/* Tables */
.table {
  font-size: 0.9rem;
}
.table td,
.table th {
  padding: 0.35rem;
  border-top: 1px solid #dee2e6;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #343a40;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

/*----------------------- Media queries --------------------------*/

@media (max-width: 991px) {
  #navigation {
    margin-bottom: 69px;
  }
  #navigation .container {
    max-width: 100%;
  }
  .navbar {
    padding: 0.5rem;
  }
  .navbar-nav {
    font-size: 1.4rem;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .navbar-nav {
    font-size: 1.4rem;
  }
  #navigation {
    margin-bottom: 93px;
  }
  .main.container {
    padding-left: 15px;
    padding-right: 15px;
  }
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }
  .navbar-nav {
    padding-bottom: 1rem;
  }
  .flag-icon-es {
    margin-left: 0;
  }
  #navigation .container {
    max-width: 100%;
  }
  .navbar {
    padding: 0.5rem;
  }
  #top-bar {
    padding: 0.5rem;
  }
  .table.b-table.b-table-stacked-md > tbody > tr > [data-label]::before {
    display: none;
  }
  .table.b-table.b-table-stacked-md > tbody > tr > [data-label] > div {
    width: 100%;
  }
}